body{
	z-index:1;
	background-color: #231f20;
	color: white;
	font-family: 'Consolas, Courier New', Courier, monospace;
	font-size: 12px;
	text-align: center;
}
h1{
	font-size: 18px;
	font-weight: bold;
}
.formbl{
	background-color: #231f20;
	color: white;
}
